VITE_CONCIERGE_URL=http://localhost:3000
VITE_NOSTR_RELAY_URL=ws://localhost:8080
VITE_BLOSSOM_URL=http://localhost:3001
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_DARK_STYLE_URL=mapbox://styles/mapbox/dark-v11
VITE_MAPBOX_LIGHT_STYLE_URL=mapbox://styles/mapbox/streets-v12
